body {
	font-size: 16px;
	background-color: mediumseagreen;
	margin: 0;
	padding: 0;
}

.login-container {
	width: 25%;
	border: 1px solid darkgreen;
	background-color: #eee;
	margin: 10% auto 0 auto;
	padding: 20px;
	font-size: 1.5rem;
}

.login-container label {
	display: block;
	margin-top: 10px;
}

.login-container input[type=submit] {
	background-color: lightgreen;
	font-size: 1.5rem;
	border-radius: 5px;
}


/* index specific designs */
.chore-container {
	display: flex;
	width: 100vw;
	justify-content: space-evenly;
}

.day {
	width: calc(100vw / 8);
	background-color: #eee;
	border: 1px solid #000;
	border-radius: 5px;
}

.day h4 {
	margin: 0;
	border-bottom: 1px solid #ccc;
	padding: 2px 5px;
}

.day.current {
	background-color: #ff9;
}

.day div.chores {
	padding: 2px;
}

